# SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Greenhouse contributors
# SPDX-License-Identifier: Apache-2.0

global:
  dnsDomain: foo.global
  # DEX configuration for Greenhouse.
  dex:
    backend: postgres         # postgres or kubernetesa
    postgres:
      postgresqlDatabase: dex
      postgresqlPort: 5432
      postgresqlUsername: dex
  # Plugin configuration for Greenhouse.
  plugin:
    expressionEvaluationEnabled: false
    integrationEnabled: false
  linkerd_enabled: false
  region: greenhouse
  registry: ghcr.io/cloudoperators/greenhouse

manager:
  controllerManager:
    image:
      digest: "sha256:manager"
      tag: 0.4.2
idproxy:
  image:
    digest: "sha256:idproxy"
cors-proxy:
  host: "foo.bar"
  image:
    digest: "sha256:corsproxy"

postgresqlng:
  enabled: true
  resources: {}
  # The database that will be created in the database
  postgresDatabase: dex
  tableOwner: dex
  users:
    acme-user:
  alerts:
    support_group: foobar

scim:
  enabled: true
  baseURL: https://top.secret/scim
  authType: basic
  username: topSecret!
  password: topSecret!123

plutono:
  enabled: false
perses:
  enabled: false
