# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*                       @cloudoperators/Administrators

/.github/               @cloudoperators/Administrators
/.github/workflows/     @cloudoperators/greenhouse-backend
/.github/labeler.yml    @cloudoperators/greenhouse-backend
/.github/licenserc.yaml @cloudoperators/greenhouse-backend
/.github/renovate.json  @cloudoperators/greenhouse-backend

/ui/                    @cloudoperators/greenhouse-frontend @uwe-mayer

/docs/                  @cloudoperators/greenhouse-core
/website/               @cloudoperators/greenhouse-core
.gitignore              @cloudoperators/greenhouse-core
/README.md              @cloudoperators/greenhouse-core

/docs/reference/api     @cloudoperators/greenhouse-backend
/charts/                @cloudoperators/greenhouse-backend
/cmd/                   @cloudoperators/greenhouse-backend
/grafana/               @cloudoperators/greenhouse-backend
/hack/                  @cloudoperators/greenhouse-backend
/pkg/                   @cloudoperators/greenhouse-backend
/ct.yaml                @cloudoperators/greenhouse-backend
/Dockerfile             @cloudoperators/greenhouse-backend
/Dockerfile.*           @cloudoperators/greenhouse-backend
/Makefile               @cloudoperators/greenhouse-backend
/PROJECT                @cloudoperators/greenhouse-backend
/go.*                   @cloudoperators/greenhouse-backend
