# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*                         @cloudoperators/Administrators

/.github/                 @cloudoperators/Administrators
/.github/workflows/       @cloudoperators/greenhouse-core
/.github/labeler.yml      @cloudoperators/greenhouse-core
/.github/licenserc.yaml   @cloudoperators/greenhouse-core
/.github/renovate.json    @cloudoperators/greenhouse-core
/.github/.goreleaser.yaml @cloudoperators/greenhouse-core

/ui/                      @cloudoperators/greenhouse-frontend @uwe-mayer

/docs/                    @cloudoperators/greenhouse-core
/types/                   @cloudoperators/greenhouse-core
/website/                 @cloudoperators/greenhouse-core
.gitignore                @cloudoperators/greenhouse-core
/README.md                @cloudoperators/greenhouse-core

/docs/reference/api       @cloudoperators/greenhouse-backend
/api/                     @cloudoperators/greenhouse-backend
/charts/                  @cloudoperators/greenhouse-backend
/cmd/                     @cloudoperators/greenhouse-backend
/config/                  @cloudoperators/greenhouse-backend
/dev-env                  @cloudoperators/greenhouse-backend
/e2e/                     @cloudoperators/greenhouse-backend
/hack/                    @cloudoperators/greenhouse-backend
/internal/                @cloudoperators/greenhouse-backend
/pkg/                     @cloudoperators/greenhouse-backend
/test/                    @cloudoperators/greenhouse-backend
/ct.yaml                  @cloudoperators/greenhouse-backend
/Dockerfile               @cloudoperators/greenhouse-backend
/Makefile                 @cloudoperators/greenhouse-core
/.golangci.yaml           @cloudoperators/greenhouse-backend
/PROJECT                  @cloudoperators/greenhouse-backend
/go.*                     @cloudoperators/greenhouse-backend
