# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*                       @cloudoperators/Administrators

/.github/               @cloudoperators/Administrators
/.github/workflows/     @auhlig @ivogoman @kengou @onuryilmaz @uwe-mayer
/.github/labeler.yml    @auhlig @ivogoman @kengou @onuryilmaz @uwe-mayer
/.github/licenserc.yaml @auhlig @ivogoman @kengou @onuryilmaz @uwe-mayer
/.github/renovate.json  @auhlig @ivogoman @kengou @onuryilmaz @uwe-mayer

/ui/                    @andypf @artiereus @edda @hodanoori @tilmanhaupt @uwe-mayer

/docs/                  @andypf @artiereus @auhlig @edda @hodanoori @ivogoman @kengou @onuryilmaz @tilmanhaupt @uwe-mayer
/website/               @andypf @artiereus @auhlig @edda @hodanoori @ivogoman @kengou @onuryilmaz @tilmanhaupt @uwe-mayer
.gitignore              @andypf @artiereus @auhlig @edda @hodanoori @ivogoman @kengou @onuryilmaz @tilmanhaupt @uwe-mayer

/docs/reference/api     @auhlig @ivogoman @kengou @onuryilmaz @uwe-mayer
/charts/                @auhlig @ivogoman @kengou @onuryilmaz @uwe-mayer
/cmd/                   @auhlig @ivogoman @kengou @onuryilmaz @uwe-mayer
/grafana/               @auhlig @ivogoman @kengou @onuryilmaz @uwe-mayer
/hack/                  @auhlig @ivogoman @kengou @onuryilmaz @uwe-mayer
/pkg/                   @auhlig @ivogoman @kengou @onuryilmaz @uwe-mayer
/ct.yaml                @auhlig @ivogoman @kengou @onuryilmaz @uwe-mayer
/Dockerfile             @auhlig @ivogoman @kengou @onuryilmaz @uwe-mayer
/Dockerfile.*           @auhlig @ivogoman @kengou @onuryilmaz @uwe-mayer
/Makefile               @auhlig @ivogoman @kengou @onuryilmaz @uwe-mayer
/PROJECT                @auhlig @ivogoman @kengou @onuryilmaz @uwe-mayer
/README.md              @auhlig @ivogoman @kengou @onuryilmaz @uwe-mayer
/go.*                   @auhlig @ivogoman @kengou @onuryilmaz @uwe-mayer
