# SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Greenhouse contributors
# SPDX-License-Identifier: Apache-2.0

nameOverride: greenhouse

alerts:
  enabled: true

controllerManager:
  containerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
  image:
    repository: ghcr.io/cloudoperators/greenhouse
    # Overrides the image tag whose default is the chart appVersion.
    # tag:
    # Overrides the image tag to use a specific digest instead
    # digest: ""
  resources:
    requests:
      cpu: 10m
      memory: 128Mi

  args: []
  replicas: 3
  serviceAccount:
    annotations: {}

certManager:
  enabled: true

webhook:
  replicas: 2
  service:
    type: ClusterIP
    ports:
      - port: 443
        protocol: TCP
        targetPort: 9443
