---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "manager.fullname" . }}-manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  - serviceaccounts
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - '*'
- apiGroups:
  - dex.coreos.com
  resources:
  - connectors
  - oauth2clients
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - events.k8s.io
  resources:
  - events
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - greenhouse.sap
  resources:
  - catalogs
  - clusterplugindefinitions
  - clusters
  - organizations
  - plugindefinitions
  - plugins
  - teamrolebindings
  - teams
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - greenhouse.sap
  resources:
  - catalogs/finalizers
  - clusterplugindefinitions/finalizers
  - plugindefinitions/finalizers
  verbs:
  - create
  - delete
  - get
  - patch
  - update
- apiGroups:
  - greenhouse.sap
  resources:
  - catalogs/status
  - clusterplugindefinitions/status
  - clusters/status
  - organizations/status
  - plugindefinitions/status
  - pluginpresets/status
  - plugins/status
  - teamrolebindings/status
  - teams/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - greenhouse.sap
  resources:
  - cluster-kubeconfigs
  - teamroles
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - greenhouse.sap
  resources:
  - clusters/finalizers
  - organizations/finalizers
  - pluginpresets/finalizers
  - plugins/finalizers
  - teamrolebindings/finalizers
  - teams/finalizers
  verbs:
  - update
- apiGroups:
  - greenhouse.sap
  resources:
  - pluginpresets
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - helm.toolkit.fluxcd.io
  resources:
  - helmreleases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - helm.toolkit.fluxcd.io
  resources:
  - helmreleases/finalizers
  verbs:
  - create
  - delete
  - get
  - patch
  - update
- apiGroups:
  - helm.toolkit.fluxcd.io
  resources:
  - helmreleases/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - kustomize.toolkit.fluxcd.io
  resources:
  - kustomizations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac
  resources:
  - clusterrolebindings
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterrolebindings
  - clusterroles
  - rolebindings
  - roles
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - source.extensions.fluxcd.io
  resources:
  - artifactgenerators
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - source.toolkit.fluxcd.io
  resources:
  - externalartifacts
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - source.toolkit.fluxcd.io
  resources:
  - gitrepositories
  - helmcharts
  - helmrepositories
  - ocirepositories
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - source.toolkit.fluxcd.io
  resources:
  - helmcharts/finalizers
  - helmrepositories/finalizers
  verbs:
  - create
  - delete
  - get
  - patch
  - update
- apiGroups:
  - source.toolkit.fluxcd.io
  resources:
  - helmcharts/status
  - helmrepositories/status
  verbs:
  - get
  - patch
  - update
