# SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Greenhouse contributors
# SPDX-License-Identifier: Apache-2.0

config:
  - cluster:
      name: greenhouse-admin
      namespace: greenhouse
      postSetup:
        - command: kubectl config use-context kind-greenhouse-admin
        - command: make cert-manager
        - command: make flux
    dependencies:
      - manifest:
          release: greenhouse
          chartPath: charts/manager
          valuesPath: dev-env/dev.values.yaml
          excludeKinds:
            - Job # exclude kube-webhook-cert-gen Job (managed by cert-manager)
          crdOnly: false
          webhook:
            dockerFile: "./"
  - cluster:
      name: greenhouse-remote