# SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Greenhouse contributors
# SPDX-License-Identifier: Apache-2.0

apiVersion: v2
name: greenhouse
description: A Helm chart for deploying greenhouse
type: application
version: 0.15.1
appVersion: "v0.9.0"

dependencies:
  - condition: idproxy.enabled
    name: idproxy
    repository: "file://../idproxy"
    version: 0.6.1
  - condition: proxy.enabled
    name: cors-proxy
    repository: "file://../cors-proxy"
    version: 0.5.1
  - name: manager
    version: 0.8.1
    repository: "file://../manager"
  - condition: dashboard.enabled
    name: dashboard
    version: 0.3.0
    repository: "file://../dashboard"
  - name: demo
    version: 0.1.2
    repository: "file://../demo"
    condition: demo.enabled
  - name: postgresql-ng
    alias: postgresqlng
    version: 1.3.0
    repository: "oci://ghcr.io/sapcc/helm-charts"
    condition: postgresqlng.enabled
  - name: authz
    version: 0.1.0
    repository: "file://../authz"
    condition: authz.enabled
