# SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Greenhouse contributors
# SPDX-License-Identifier: Apache-2.0

apiVersion: v2
name: greenhouse
description: A Helm chart for deploying greenhouse
type: application
version: 0.13.0
appVersion: "0.7.0"

dependencies:
  - condition: idproxy.enabled
    name: idproxy
    repository: "file://../idproxy"
    version: 0.5.0
  - condition: cors-proxy.enabled
    name: cors-proxy
    repository: "file://../cors-proxy"
    version: 0.4.0
  - name: manager
    version: 0.7.0
    repository: "file://../manager"
  - condition: dashboard.enabled
    name: dashboard
    version: 0.2.0
    repository: "file://../dashboard"
  - name: demo
    version: 0.1.2
    repository: "file://../demo"
    condition: demo.enabled
  - name: postgresql-ng
    alias: postgresqlng
    version: 1.3.0
    repository: "oci://ghcr.io/sapcc/helm-charts"
    condition: postgresqlng.enabled
