# SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Greenhouse contributors
# SPDX-License-Identifier: Apache-2.0

global:
  # The DNS domain to be used for all Greenhouse components.
  dnsDomain:
  dockerHubMirror:
  # OIDC configuration for Greenhouse.
  oidc:
    issuer:
    redirectURL:
    clientID:
    clientSecret:
  # DEX configuration for Greenhouse.
  dex:
    backend: postgres         # postgres or kubernetes
    postgresql:
      postgresqlDatabase:
      postgresqlPort:
      postgresqlUsername:
  # Template configuration for Greenhouse.
  template:
    rendering: false

postgresqlng:
  enabled: true
  global:
    linkerd_enabled: false
    region: greenhouse
    # The registry where the image is stored
    registry:
  alerts:
    support_group: greenhouse
  resources: {}
  # The database that will be created in the database
  postgresDatabase: dex
  users:
    dex:         # The user that will be created in the database
      grant:         # The grants that will be given to the user
      - 'GRANT ALL PRIVILEGES ON DATABASE "%PGDATABASE%"'
  tableOwner:         # The owner of the tables in the database

# demo organization
demo:
  enabled: false

# enabled greenhouse controller dashboards
plutono:
  enabled: true
perses:
  enabled: true
