# SPDX-FileCopyrightText: 2025 SAP SE or an SAP affiliate company and Greenhouse contributors
# SPDX-License-Identifier: Apache-2.0

apiVersion: greenhouse.sap/v1alpha1
kind: Catalog
metadata:
  name: greenhouse-extensions
  namespace: greenhouse
spec:
  source:
    git:
      url: https://github.com/cloudoperators/greenhouse-extensions
      ref:
        branch: main
  overrides:
    - name: perses
      alias: perses-keppel-chart
#     repository: oci://some-registry.io/some-repo/some-chart