# SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Greenhouse contributors
# SPDX-License-Identifier: Apache-2.0

resources:
- greenhouse.sap_organizations.yaml
- greenhouse.sap_teams.yaml
- greenhouse.sap_plugins.yaml
- greenhouse.sap_plugindefinitions.yaml
- greenhouse.sap_pluginpresets.yaml
- greenhouse.sap_clusters.yaml
- greenhouse.sap_clusterkubeconfigs.yaml
- greenhouse.sap_teamroles.yaml
- greenhouse.sap_teamrolebindings.yaml
- greenhouse.sap_clusterplugindefinitions.yaml
- greenhouse.sap_catalogs.yaml
#+kubebuilder:scaffold:crdkustomizeresource
