{{/* 
SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Greenhouse contributors
SPDX-License-Identifier: Apache-2.0
*/}}

{{- if .Values.heureka.enabled }}
apiVersion: greenhouse.sap/v1alpha1
kind: Plugin
metadata:
  name: heureka
  namespace: {{ .Chart.Name }}
spec:
  disabled: false
  pluginDefinition: heureka
  displayName: {{ required ".Values.heureka.displayName missing" .Values.heureka.displayName }}
  optionValues:
    - name: apiEndpoint
      value: "https://demo.{{ .Values.global.dnsDomain }}"
{{ end }}
