apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "manager.fullname" . }}-feature-flags
data:
  _example: >
    ################################
    #                              #
    #    EXAMPLE CONFIGURATION     #
    #                              #
    ################################
    # enable dex features
    # storage allows you to choose what kind of dex storage backend you would like to choose
    # Greenhouse gives the choice of using kubernetes as the storage backend or to use postgresSQL as the backend
    dex: |
      storage: kubernetes / postgres
    # enable plugin features
    # expressionEvaluationEnabled allows you to enable or disable expression evaluation for plugin option values
    # set to false to disable expression evaluation (expressions will be used as literal values)
    # set to true to enable expression evaluation (expressions will be evaluated using CEL)
    # integrationEnabled allows you to enable or disable plugin to plugin integration features
    # set true to enable value references from another plugin via CEL expressions
    # defaultDeploymentTool specifies the default deployment tool used for plugin deployments
    # set to "helm" for native Helm deployment (default)
    # set to "flux" for Flux-based deployment
    plugin: |
      expressionEvaluationEnabled: false / true
      integrationEnabled: false / true
      defaultDeploymentTool: helm / flux
  dex: |
    storage: {{ include "dex.backend" $ }}
  plugin: |
    expressionEvaluationEnabled: {{ include "plugin.expressionEvaluationEnabled" $ }}
    integrationEnabled: {{ include "plugin.integrationEnabled" $ }}
    {{- if .Values.global.plugin.defaultDeploymentTool }}
    defaultDeploymentTool: {{ .Values.global.plugin.defaultDeploymentTool }}
    {{- end }}
