// SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Greenhouse contributors
// SPDX-License-Identifier: Apache-2.0

/* Do not remove these tailwind directives. Without them styles won't work as expected */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* If necessary, app styles can be added below */

.svg-bg-test {
  background: url("assets/juno-danger.svg");
}

// .svg-bg-test-big-file {
//   background: left 80px no-repeat url('assets/map.svg')
// }
