<div class="landing-page-section-footer">
    <div class="landing-page-section-footer-item">
        <h3 class="footer-heading">
            <div class="footer-logo footer-logo-accent"><i class="fa fa-fw fa-book"></i></div>
            Documentation
        </h3>
        <p class="footer-description">
            Find the Greenhouse user documentation and news here.
        </p>
    </div>
    <div class="landing-page-section-footer-item">
        <h3 class="footer-heading">
            <div class="footer-logo">{{ with resources.Get "icons/ccloud_icon_gold.svg" }}{{ ( . | minify ).Content | safeHTML }}{{ end }}</div>
            Greenhouse
        </h3>
        <p class="footer-description">
            Log into the Greenhouse dashboard to manage your cloud assets.
        </p>
        <div class="footer-actions">
            <a class="btn btn-ccloud" href="https://dashboard.greenhouse.global.cloud.sap">Go to Greenhouse</a>
        </div>
    </div>
</div>
