# Run it locally with act (https://github.com/nektos/act)
#  1. Install act:
#     `brew install act`
#  2. Create a .secret file with the following content:
#     `GITHUB_TOKEN=your_github_token`
#  PULL REQUEST
#  1. Create a act_pull_request.json file in case of a pull request with the following content:
#     `{"pull_request": {"number": <PR number>, "head": {"ref": "<PR branch name>", "sha": "PR commit sha"}, "base": {"ref": "main"}}, "repository": {"name": "juno", "owner": {"login": "cloudoperators"}}}`
#  2. Run the following command:
#     `act pull_request -j run-pipeline -e act_pull_request.json -W .github/workflows/ci-npm-packages.yaml`

name: Detect CRD API Changes and Generate Docs, Types and Specs

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - "api/meta/**"
      - "api/v1alpha1/**"
      - "api/v1alpha2/**"
jobs:
  generate-docs-types-specs:
    runs-on: [ ubuntu-latest ]
    steps:
      - name: Generate GitHub App Token
        id: github-app-token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2
        with:
          app-id: ${{ secrets.CLOUDOPERATOR_APP_ID }}
          private-key: ${{ secrets.CLOUDOPERATOR_APP_PRIVATE_KEY }}
          permission-contents: write

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ steps.github-app-token.outputs.token }}

      - name: Generate manifests, documentation and types
        run: |
          chmod o+rw docs/reference/api/openapi.yaml
          make generate-all

      - name: Apply Changes
        uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9
        with:
          author_name: cloud-operator-bot[bot]
          author_email: 224791424+cloud-operator-bot[bot]@users.noreply.github.com
          message: "Automatic generation of CRD API Docs"
