name: Package Helm Chart and publish to GitHub Packages

on:
  push:
    tags:
      - "helm-chart-*.*.*"
    paths:
        - 'charts/**'

permissions:
  contents: write
  packages: write

env:
  REGISTRY: ghcr.io

jobs:
  helm-release:
    runs-on: [ ubuntu-latest ]
    strategy:
      fail-fast: false
      matrix:
        include:
          - chartDir: charts/greenhouse
            chartName: greenhouse
          - chartDir: charts/ui
            chartName: greenhouse-ui

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
            fetch-depth: 0
            token: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: "v3.19.2"

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
            python-version: 3.9
            check-latest: true
            token: ${{ secrets.GITHUB_TOKEN }}

      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
            registry: ${{ env.REGISTRY }}
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47
        with:
          files: |
            ${{ matrix.chartDir }}/**

      - name: Check if Helm chart with same version already exists
        id: check-chart
        if: steps.changed-files.outputs.all_changed_files != ''
        env:
          ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          # List all changed
          echo "All changed files: $ALL_CHANGED_FILES"
          chartName=$(yq .name "${{ matrix.chartDir }}/Chart.yaml")
          chartVersion=$(yq .version "${{ matrix.chartDir }}/Chart.yaml")
          echo "chart_version=${chartVersion}" >> "$GITHUB_OUTPUT"
          if $(helm pull "oci://${{ env.REGISTRY }}/${{ github.repository }}/${{ matrix.chartDir }}" --version $chartVersion); then
            echo "bump=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Chart needs version bump
        if: steps.check-chart.outputs.bump == 'true'
        env:
          CHART_VERSION: ${{ steps.check-chart.outputs.chart_version }}
        run: |
          echo "Chart ${{ matrix.chartDir }}:${{ env.CHART_VERSION }} already exists in OCI registry. Skipping upload. Please increment the chart version."
          exit 1

      - name: Push Charts to GHCR
        if: steps.changed-files.outputs.all_changed_files != '' && steps.check-chart.outputs.bump != 'true'
        run: |
          helm dependency update ${{ matrix.chartDir }}
          helm package ${{ matrix.chartDir }} -d ${{ matrix.chartDir }}
          PKG_NAME=`ls ${{ matrix.chartDir }}/*.tgz`
          helm push ${PKG_NAME} oci://${{ env.REGISTRY }}/${{ github.repository }}/charts/
