name: 'Kustomize lint'
on:
  pull_request:
    paths:
      - 'charts/**'

jobs:
  kustomize:
    runs-on: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: 'go.mod'
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Controller-gen
        run: make controller-gen
      - name: Setup Kustomize
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          curl --request GET \
          --url "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh" \
          --header "Authorization: Bearer $GH_TOKEN"
      - name: Setup API documentation generator
        run: docker pull ghcr.io/srfrnk/crd-api-doc-gen:latest
      - name: lint
        run: make kustomize-build-crds
