name: Check & Fix License Header
on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  generate-token:
    name: Generate GitHub App Token
    runs-on: default
    outputs:
      token: ${{ steps.github-app-token.outputs.token }}
    steps:
      - name: Generate GitHub App Token
        id: github-app-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.CLOUDOPERATOR_APP_ID }}
          private-key: ${{ secrets.CLOUDOPERATOR_APP_PRIVATE_KEY }}

  build-license-eye:
    name: Check & Fix License Headers
    needs: generate-token
    runs-on: default
    permissions:
      contents: write # Only used when `apply_header: true` else the permission is `read`
    steps:
      - uses: cloudoperators/common/.github/workflows/shared-license.yaml@main
        with:
          pas: ${{ needs.generate-token.outputs.token }}
