name: Check & Fix License Header
on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  generate-token:
    name: Generate GitHub App Token
    runs-on: [ ubuntu-latest ]
    outputs:
      token: ${{ steps.github-app-token.outputs.token }}
    steps:
      - name: Generate GitHub App Token
        id: github-app-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        with:
          app-id: ${{ secrets.CLOUDOPERATOR_APP_ID }}
          private-key: ${{ secrets.CLOUDOPERATOR_APP_PRIVATE_KEY }}
          permission-contents: write

  build-license-eye:
    name: Check & Fix License Headers
    needs: generate-token
    permissions:
      # Only used when `apply_header: true` else the permission is `read` see: https://github.com/cloudoperators/common/blob/8f15c13b6f4c1631c7e6f6dff5c3300452e9b5b6/.github/workflows/shared-license.yaml#L21-L22
      contents: write 
    uses: cloudoperators/common/.github/workflows/shared-license.yaml@main
    secrets:
      pas: ${{ needs.generate-token.outputs.token }}
